.newmcq-container {
    background-color: #282828;
    width: calc(100% - 69px);
    height: 87vh;
    overflow-y: auto;
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    padding: 1.2rem;
    border-radius: 5px;
}

.newmcq-wrapper {
    width: 93%;
    padding-top: 1.5rem;
}

.newmcq-wrapper h1 {
    color: white;
    font-family: madina-semibold;
    font-size: 2.5rem;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
}

.newmcq-wrapper h3 {
    color: white;
    font-family: madina-medium;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.newmcq-wrapper textarea {
    width: 60%;
    height: 150px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-family: madina-regular;
    font-size: 1rem;
    resize: none;
    border: 1px solid #6d6d6d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coding-question {
    width: 60%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-family: madina-regular;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.newmcq-wrapper input[type="number"] {
    width: 60%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-family: madina-regular;
    font-size: 1rem;
    border: 1px solid #6d6d6d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.newmcq-wrapper p {
    color: white;
    font-family: madina-regular;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.newmcq-wrapper h4 {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: madina-medium;
}

.newmcq-wrapper h4 input {
    color: #ff6b6b;
    font-family: madina-light;
    cursor: pointer;
}

.custom-quill {
    position: relative;
    right: 18px;
    width: 57.5% !important;
}

.category-container select {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-family: madina-regular;
    font-size: 1rem;
    border: 1px solid #6d6d6d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.category-container button {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-family: madina-regular;
    font-size: 1rem;
    border: 1px solid #6d6d6d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    cursor: pointer;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.testcase p {
    margin-bottom: 5px;
}

.options-container .option-textarea {
    width: 100%;
    height: 100px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: white;
    font-family: madina-regular;
    font-size: 1rem;
    resize: none;
    border: 1px solid #6d6d6d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.option-column p {
    color: white;
    font-family: madina-regular;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.option-column input {
    color: white;
    cursor: pointer;
}

/* Remove default styles for checkboxes */
.option-column input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #A294F9;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

/* Change the background color when checkbox is checked */
.option-column input[type="checkbox"]:checked {
    background-color: #A294F9;
    border-color: #A294F9;
}

.correct-answer-checkbox {
    margin-right: 6px;
}

.option-column div {
    color: white;
    font-family: madina-regular;
    font-size: 0.9rem;
    cursor: pointer;
    margin-right: 6px;
}

.option-column button {
    color: #ff6b6b;
    font-family: madina-regular;
    font-size: 0.9rem;
}


.add-option-btn {
    font-family: madina-regular;
    color: #A294F9;
    cursor: pointer;
}

.save-cancel-container {
    display: flex;
    margin-top: 20px;
}

.testcases-container {
    margin-bottom: 10px;
}

.action-buttons {
    display: flex;
    justify-content: flex-start;
}

.add-remove-buttons {
    display: flex;
    gap: 10px;
}

.add-testcase-btn {
    color: #A294F9;
}

.delete-testcase-btn {
    color: #ff6b6b;
}

.save-btn-m,
.cancel-btn-m {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: madina-semibold;
    margin-right: 15px;
}

.save-btn-m {
    background-color: #A294F9;
}

.cancel-btn-m:hover {
    background-color: #3a3a3a;
}

.save-btn:hover {
    background-color: #8c7ae6;
}

@media(max-width:1024px) {
    .newmcq-container {
        width: calc(100% - 30px);
    }

    .coding-question {
        width: 100%;
    }

    .custom-quill {
        width: 100% !important;
    }
}

@media(min-width:660px) and (max-width:1023px) {
    .newmcq-container {
        width: 100%;
    }

    .newmcq-wrapper textarea {
        width: 80%;
    }

    .custom-quill {
        width: 94% !important;
    }
}

@media(min-width:400px) and (max-width:659px) {
    .newmcq-container {
        width: 100%;
    }

    .newmcq-wrapper textarea {
        width: 100%;
    }

    .options-container .option-textarea {
        width: 100%;
    }

    .options-container {
        grid-template-columns: 1fr;
    }

    .newmcq-wrapper h4 input {
        width: 50%;
    }

    .category-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .category-container button {
        margin-left: 0px;
    }

    .custom-quill {
        right: 0px;
        width: 95% !important;
    }
}

@media(min-width:300px) and (max-width:399px) {
    .newmcq-container {
        width: 100%;
    }

    .newmcq-wrapper textarea {
        width: 100%;
    }

    .options-container .option-textarea {
        width: 95%;
    }

    .options-container {
        grid-template-columns: 1fr;
    }

    .newmcq-wrapper h4 input {
        width: 50%;
    }

    .category-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .category-container button {
        margin-left: 0px;
    }

    .custom-quill {
        right: 0px;
        width: 95% !important;
    }
}